<form #f="ngForm" (ngSubmit)="submit(f.value)">
  <div ngModelGroup="course" #contact="ngModelGroup">
    
    <div class="form-group">
      <label for="courseName">Course Name</label>
      <input 
        required minlength="5" 
        maxlength="10" ngModel name="courseName" #courseName="ngModel" 
        id="courseName" 
        type="text" 
        class="form-control">
      <div class="alert alert-danger" *ngIf="courseName.touched && !courseName.valid">
        <div *ngIf="courseName.errors.required">
          Name is required.
        </div>
        <div *ngIf="courseName.errors.minlength">
          Name should be minimum {{ courseName.errors.minlength.requiredLength}} characters.
        </div>
        <div *ngIf="courseName.errors.pattern">
          Name doesn't match the pattern.
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="courseCategory">Category</label>
    <select required ngModel name="courseCategory" #courseCategory="ngModel" id="courseCategory" class="form-control">
      <option value=""></option>
      <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
    </select>
    <div *ngIf="courseCategory.touched && courseCategory.invalid" class="alert alert-danger">
      Category field is required.
    </div>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" ngModel name="hasMoneyBackGuarantee"> 30-day money-back guarantee
    </label>
  </div>
  <!-- For debug form values. -->
  <p>
    {{ f.value | json}}
  </p>

  <button class="btn btn-primary" [disabled]="!f.valid">Create</button>
</form>